

:root{ 
    /* primary colors */
    --clr-softred: hsl(7, 99%, 70%); 
    --clr-yellow: hsl(51, 100%, 49%); 
    --clr-darkcyan: hsl(167, 40%, 24%); 
    --clr-darkblue: hsl(198, 62%, 26%); 
    --clr-medcyan: hsl(168, 34%, 41%); 

    /* neutral colors */
    --clr-graydarkblue: hsl(212, 27%, 19%); 
    --clr-grayblue: hsl(213, 9%, 39%); 
    --clr-lghtgrayblue: hsl(232, 10%, 55%); 
    --clr-white: hsl(0, 0%, 100%); 

    /* font style*/
    --fs-body: 1rem; /* to calculate 18 / 16 = 1.125 */ 
    --fw-semi-bold: 600; 
    --fw-bold: 700; 
    --fw-black: 900; 

    --ff-primary: 'Barlow', sans-serif;
    --ff-secondary: 'Fraunces', serif;
    --ff-body: var(--ff-primary);  
    --ff-heading: var(--ff-secondary); 
}
body{ 
   max-width: 1440px; 
   margin: 0 auto; 
}
.header__container{ 
    position: relative; 
}

.nav__links, .header__logo, .menu__toggle, .header__container h1{ 
    position: absolute; 
}

.header__logo{ 
    top: 3rem; 
    left: 2rem;
}

.menu__toggle{ 
    top: 3rem; 
    right: 2rem;  
    background-color: transparent;
    border: none; 
    cursor: pointer;  
}


.header__container h1, .nav__links{ 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.header__container h1{ 
    z-index: 0; 
    text-transform: uppercase; 
    letter-spacing: 0.3rem; 
    font-weight: (--fw-bold);
    font-size: 3rem; 
}

.nav__links{ 
    z-index: 4; 
    display: none; 
}

/* .nav__links ul{ 
    list-style: none; 
    background-color: var(--clr-white);
    padding: 5rem 7rem; 
    text-align: center; 
}

.nav__links ul > li{ 
    padding: 1rem; 
}
.nav__links ul > li > a{ 
    text-decoration: none;
}
 */

.header__container h1{ 
    font-family: var(--ff-heading); 
    text-align: center; 
    color: var(--clr-white); 
}

/*text container styles*/
.text__container{  
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 2rem; 
}
.text__container h2{ 
    text-align: center; 
    font-family: var(--ff-heading); 
    font-size: 2rem; 
    line-height: 1; 
}

.text__container p{ 
    text-align: center; 
    font-family: var(--ff-body); 
    font-size: var(--fs-body); 
}

.text__container a{ 
    font-family: var(--ff-heading); 
    text-transform: uppercase; 
}

/*transform and standout text container styles */
.primary__section{
    padding: 5rem 2rem;  
}
.primary__section h2{ 
    color: var(--clr-graydarkblue); 
}
.primary__section p{
    color: var(--clr-lghtgrayblue); 
}

/*photo containers*/
.graphic__container, .photography__container{ 
    position: relative; 
}

.graphic__container .text__container, .photography__container .text__container{ 
    position: absolute; 
    top: 73%; 
    left: 50%; 
    transform: translate(-50%, -50%); 

    width: 269px;      
}

/*review containers */
.client__wrapper{ 
    padding: 2rem; 

    text-align: center; 
}

.client__wrapper h2{ 
    font-family: var(--ff-heading); 
    text-transform: uppercase; 
    letter-spacing: 0.3rem; 
    text-align: center; 
}

.review__container{ 
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly; 
    align-items: center; 

    margin-top: 4rem; 
}

.review__container img{ 
    border-radius: 50%;
}

.review__text, .review__role{ 
    font-family: var(--ff-body); 
}

.review__author{ 
    font-family: var(--ff-heading); 
}

.review__text{
     margin-top: 2rem; 
     margin-bottom: 2rem; 
}

/* gallery grid container */
.gallery__container{ 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
}

/* footer */
footer{
    --padding: 3rem; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: var(--padding); 
    
    background-color: var(--clr-medcyan); 
}

footer > img{ 
    padding-top: var(--padding); 
}
.footer__nav ul{ 
    list-style: none; 
    display: flex; 
    justify-content: space-around;
    gap: 2rem;
}

.footer__nav ul > li > a{ 
    text-decoration: none; 
    font-family: var(--ff-body); 
}

footer .socials{ 
    padding-bottom: var(--padding);
    display: flex; 
    justify-content: space-between;
    gap: 2rem; 
}

/*possibly needs to be 830px, needs margin adjustment and left aligned at larger screen sizes*/
@media only screen and (min-width: 720px){ 
     .section__grid{ 
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);

        place-items: center;
    } 

    .transform__text{ 
        grid-column: 1; 
        grid-row: 1; 
    } 

    .primary__section{ 
        padding: 0; 
    
    }


}

@media only screen and (min-width: 1080px){ 

    .gallery__container{ 
        display: flex; 
    }
    .review__wrapper{
        display: flex; 
        justify-content: space-evenly;
    }

    .review__container{ 
        padding: 4rem; 
    }
}