

:root{ 
    /* primary colors */
    --clr-softred: hsl(7, 99%, 70%); 
    --clr-yellow: hsl(51, 100%, 49%); 
    --clr-darkcyan: hsl(167, 40%, 24%); 
    --clr-darkblue: hsl(198, 62%, 26%); 
    --clr-lightcyan: hsl(164, 46%, 75%); 
    --clr-medcyan: hsl(168, 34%, 41%); 

    /* neutral colors */
    --clr-graydarkblue: hsl(212, 27%, 19%); 
    --clr-grayblue: hsl(213, 9%, 39%); 
    --clr-lghtgrayblue: hsl(232, 10%, 55%); 
    --clr-white: hsl(0, 0%, 100%); 

    /* font style*/
    --fs-body: 1rem; /* to calculate 18 / 16 = 1.125 */ 
    --fw-semi-bold: 600; 
    --fw-bold: 700; 
    --fw-black: 900; 

    --ff-primary: 'Barlow', sans-serif;
    --ff-secondary: 'Fraunces', serif;
    --ff-body: var(--ff-primary);  
    --ff-heading: var(--ff-secondary); 
}
.section__grid, .client__wrapper{ 
   max-width: 1440px; 
   margin: 0 auto; 
}
.header__container{ 
    position: relative; 
}

.header__container h1{ 
    position: absolute; 
}


.menu__toggle{   
    background-color: transparent;
    border: none; 
    cursor: pointer;  
}

.nav__bar > .desktopNav__menu{ 
    visibility: hidden;  
    position: absolute; 
}

.header__container h1{ 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.header__container h1{ 
    z-index: 0; 
    text-transform: uppercase; 
    letter-spacing: 0.3rem; 
    font-weight: (--fw-bold);
    font-size: 3rem; 
}

.header__container h1{ 
    font-family: var(--ff-heading); 
    text-align: center; 
    color: var(--clr-white); 
}

/*mobile nav bar styling*/
.nav__bar > .mobileNav__menu{ 
    list-style: none; 
    position: fixed; /* positioned relative to the viewport not the element*/
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    padding-top: 2rem; 
    padding-bottom: 2rem; 

    top: 15%; 
    min-width: 90%; 
    left: -100%; 
    background-color: var(--clr-white); 

    z-index: 10; 
}

.mobileNav__menu.active{ 
    left: 5%; 
}

.mobileNav__menu > .nav__link{ 
    padding: 1rem 0.5rem; 
}

.mobileNav__menu > .nav__link a{ 
    text-decoration: none;
    color: var(--clr-lghtgrayblue); 
    font-weight: var(--fw-bold); 
    font-family: var(--ff-body);
}

.mobileNav__menu > .contact__link a{ 
    background-color: var(--clr-yellow);
    color: var(--clr-graydarkblue); 
    font-family: var(--ff-heading);
    text-transform: uppercase;
    padding: 1rem 2rem; 
    border-radius: 25px;
}

.nav__bar{  
    position: absolute; 
    top: 0; 
    padding: 2rem; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    width: 100%; 
}

/*text container styles*/
.text__container{  
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 2rem; 
}
.text__container h2{ 
    text-align: center; 
    font-family: var(--ff-heading); 
    font-size: 2rem; 
    line-height: 1; 
}

.text__container p{ 
    text-align: center; 
    font-family: var(--ff-body); 
    font-size: var(--fs-body); 
}

.text__container a{ 
    font-family: var(--ff-heading); 
    text-transform: uppercase; 
    color: var(--clr-graydarkblue); 
    text-decoration: none; 

    position: relative; 
}

.text__container a::before{ 
    content: ""; 
    display: block; 
    border-radius: 10px; 
    opacity: 0.3; 

    position: absolute;
    left: 50%;
    bottom: -5%;
    width: 130px; 
    transform: translateX(-50%);
    z-index: -1;
}
.transform__text a::before{ 
    border-bottom: 10px solid var(--clr-yellow); 
}

.stand-out__text a::before{ 
    border-bottom: 10px solid var(--clr-softred);
}

/*transform and standout text container styles */
.primary__section{
    padding: 5rem 2rem;  
}
.primary__section h2{ 
    color: var(--clr-graydarkblue); 
}
.primary__section p{
    color: var(--clr-lghtgrayblue); 
}

/*photo containers*/
.graphic__container, .photography__container{ 
    position: relative; 
}

.graphic__container .text__container, .photography__container .text__container{ 
    position: absolute; 
    top: 73%; 
    left: 50%; 
    transform: translate(-50%, -50%); 

    width: 269px;      
}

.graphic__container h2{ 
    color: var(--clr-darkcyan); 
}
.graphic__container .text__container{ 
    color: var(--clr-darkcyan); 
}
.photography__container h2{ 
    color: var(--clr-darkblue); 
}
.photography__container .text__container{ 
    color: var(--clr-darkblue); 
}

/*review containers */
.client__wrapper{ 
    padding: 2rem; 

    text-align: center; 
}

.client__wrapper h2{ 
    font-family: var(--ff-heading); 
    text-transform: uppercase; 
    letter-spacing: 0.3rem; 
    text-align: center; 
    color: var(--clr-lghtgrayblue); 
}

.review__container{ 
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly; 
    align-items: center; 

    margin-top: 4rem; 
}

.review__container img{ 
    border-radius: 50%;
}

.review__text, .review__role{ 
    font-family: var(--ff-body); 
    color: var(--clr-lghtgrayblue); 
}

.review__author{ 
    font-family: var(--ff-heading); 
    color: var(--clr-graydarkblue); 
}

.review__text{
     margin-top: 2rem; 
     margin-bottom: 2rem; 
}

/* gallery grid container */
.gallery__container{ 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
}

/* footer */
footer{
    --padding: 3rem; 
    padding: var(--padding); 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: var(--padding); 
    
    background-color: var(--clr-lightcyan); 
}

.footer__nav ul{ 
    list-style: none; 
    display: flex; 
    justify-content: space-around;
    gap: 2rem;
}

.footer__nav ul > li > a{ 
    text-decoration: none; 
    font-family: var(--ff-body); 
    color: var(--clr-medcyan); 
}

footer .socials{ 
    color: var(--clr-medcyan);
    padding-bottom: var(--padding);
    display: flex; 
    justify-content: space-between;
    gap: 2rem; 
}

@media only screen and (min-width: 720px){ 
     .section__grid{ 
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);

        place-items: center;
    } 

    .transform__text{ 
        grid-column: 1; 
        grid-row: 1; 
    } 

    .primary__section{ 
        padding: 0; 
        max-width: 500px; 
    }

    .menu__toggle{ 
        display: none; 
    }

/*nav bar styles*/
.nav__bar{  
    position: absolute; 
    top: 0;  
    /* padding: 2rem;  */
    right: 0; 
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    
}
.nav__bar > .mobileNav__menu{ 
    display: none; 
}
.nav__bar > .desktopNav__menu{  
    visibility: visible;

    position: absolute; 
    top: 0; 
    right: 2rem; 

    width: 50%; 
    margin-top: 2rem;

    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    list-style: none; 
    background-color: transparent;
}

.desktopNav__menu > .nav__link a{ 
    text-decoration: none; 
    font-family: var(--ff-body); 
    color: var(--clr-white);
}

.desktopNav__menu > .contact__link a{ 
    background-color: var(--clr-white);
    color: var(--clr-graydarkblue); 
    font-family: var(--ff-heading);
    text-transform: uppercase;
    padding: 1rem 1.5rem; 
    border-radius: 25px;
}

}

@media only screen and (min-width: 1080px){ 

    .gallery__container{ 
        display: flex; 
    }
    .review__wrapper{
        display: flex; 
        justify-content: space-evenly;
    }

    .review__container{ 
        padding: 4rem; 
    }
}